.lp-pom-form-field label.error {
   display: inline-block;
   position: relative;
   top: 52px;
   width: 100%;
   text-align: left;
   color:red;
 }
 .lp-pom-form-field input.error, .lp-pom-form-field select.error {
   border:2px solid red !important;
 }
 .lp-form-errors {
   display: none !important;
 }
