.data8-pa-autocomplete{
    min-width: 300px !important;
    border: 1px solid #ccc;
    border-radius: 1px;
    height: 217px;
    margin-top: 5px;
    width: 398px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
    font: 9pt arial;
    padding-bottom: 10px;
}
