/* Pagination */
.step {
  display:none;
}
.step.active  {
  display:block;
}

/* Select Buttons */

.select-button {
  display: block;
  position: relative !important;
  height: 40px;
  top: 0px !important;
  /*background-color: #EFAC1F;*/
  padding: 0 !important;
  width: 100%;
  border-radius: 5px;
}
.select-button.selected {
  /*background-color: red;*/
}
.select-button:hover {
opacity:0.7;
}
.select-button label {
  padding: 0 !important;
  position: relative;
  display: block;
  width: 100% !important;
  height: 100% !important;
}
.select-button label span {
  text-align: center;
  width: 100% !important;
  color: white;
  display: block;
  line-height: 40px;
  top: 50% !important;
}
.select-button input {
  display: none;
}
